:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #e5e5e5;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.body {
  font-family: var(--main-font);
  font-weight: 500;
}

/*=============HEADER=============*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  list-style: none;
  text-decoration: none;
}
.web-logo {
  color: #2196f3;
  list-style: none;
  text-decoration: none;
}
.menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
  list-style: none;
  text-decoration: none;
}
.menu-link-black {
  color: black;
}
.menu-item {
  text-decoration: none;
  list-style: none;
}
.mail-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.tel-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-item {
  list-style: none;
  text-decoration: none;
}
.link {
  list-style: none;
  text-decoration: none;
}
/*=============END HEADER=============*/

/*=============HERO=============*/

.hero {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  background-color: #2f303a;
}
.menu-item a:hover,
.menu-item a:focus {
  text-decoration: none;
  list-style: none;
}
.menu.link.current {
  color: #2196f3;
}

.modal-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
  margin: 0 auto;
}
.advantages-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.advantages-item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
